
/* start css login layout*/
.sign-in{
    background: url("../img/bg.jpg") no-repeat !important;
    background-size: cover !important;
}
#wrap-login{
    padding: 20px;
}
#wrap-login .login-form{
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.cms-title-login{
    border-bottom: 2px solid #d2d2d2;
    font-weight: bold;
    color: #222222;
}
.cms-title-login span{
    color: #603913;
    font-family: "DejaVu Sans Mono", monospace;
}
.img-owl{
    text-align: center;
}
#powerby {
    text-align: right;
    font-weight: bold;
}
#powerby span{
    font-size: 12px;
    color: #000000;

}
.login-form form{
    margin-bottom: 0px !important;
}
.login-form label{
    font-weight: bold;
    color: #313131;
}
.input-radius{
    border-radius: 5px;
}
.btn-signin , .btn-signin:hover{
    background: #666666;
    border-radius: 5px !important;
    color: #ffffff;
}
.logo {
    margin-left: 300px;
    margin-top: 10px;
}
@media screen and (min-width: 980px){
    #wrap-login{
        margin-top: 50px;
        min-height: inherit;
    }

}

@media (max-width: 979px) {
    #wrap-login{
        margin-top: 90px !important;
    }
    #wrap-login .login-form{
        width: 100%;
    }
}
@media screen  and (min-width: 769px) and (max-width: 1200px) {
    .logo{
        margin-left: 200px;
        width: 150px;
    }
}

@media screen and ( max-width: 768px ){
    .logo{
        width: 130px;
        float: none;
        margin:0 auto;
    }

}